In [30]:
import pandas as pd

In [31]:
import numpy as np

In [7]:
x = {'a':[1, 3, 5, 6, 7, 8]}

In [8]:
y = pd.DataFrame(x)

In [9]:
y

   a
0  1
1  3
2  5
3  6
4  7
5  8

In [25]:
(y['a'] > 1) & y['a'] < 7

0    True
1    True
2    True
3    True
4    True
5    True
Name: a, dtype: bool

In [26]:
sum(y['a'])

30

In [27]:
y['a'].sum()

30

In [28]:
len(y['a'])

6

TypeError: 'numpy.ndarray' object is not callable